.arrayBlock {
    color: white;
    text-align: center;
    font-size: 160px;
    border-radius: 30px;
}
.arrayBlock p {
    padding: 0;
    font-size: 150px;
    display: inline-block;
    border: 2px white solid;
    min-width: 160px;
    margin:5px
}
.arrayBlock p::selection{
    background: transparent;
}
.minMaxWrapper {
    margin-top: 30px;
    color:#fff;
    font-size: 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;

}
.minBlock, .maxBlock {
    display:none;
    border: 2px white solid;
    text-align: center;
    color: rgb(221, 157, 157);
    background-color: rgb(67, 97, 153);
    cursor: pointer;
}